*{
    margin:0;
    padding:0;
    overflow: auto;
    font-family: system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    
}
.header{
    padding-top: 20px;
    background-color: #1F2937;
    height: 250px;
    margin-bottom:25px;
    

    
}
#random{
    text-align: center;
    font-size: 30px ;
    font-weight: bold;
}

.mid-section{
    resize: none;
}
.flex-box{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 5px;
    overflow: auto;
    position: relative;  
    align-items: center;
    flex:1;

    
    
    
     
}
#flex1, #flex2, #flex3, #flex4{
    border: 5px solid #3882F6;
    border-radius: 10px;
    height:200px; width: 210px;
    margin: 20px;
    flex-wrap:wrap;
    
    

}
.quote-section{
    background-color: #E5E7EB;
    height: 200px
}

nav{
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
}
.header-links{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 20px;
    row-gap: 100px;
    flex: 1;
    justify-content: flex-end;
    font-family: system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    padding-right: 30px;
    

}
a{
    color: white;
}
#logo{
    padding-left: 80px;
    color: white;
}
